$color__black: #000000;
$color__white: #FFFFFF;

html{
  // difines what 1rem is:
  font-size: 62.5%;
}

body{
  background-color: $color__black;
  color: $color__white;
  font-family: 'lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 3rem;
  line-height: 1.7;
  box-sizing: border-box;
}

.navigation{
  position: relative;

&__icon{

}
&__background{

}

&__nav{
  
}

&__list{
  list-style: none;
}
&__item{
  
}
&__link{
  color: $color__white;
  text-decoration: none;
}

}
